body {
    background: #3b3b3b;
    height: 150vh;
}


.contentContainer {
    width: 1000px;
    height: 600px;
    border: black solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
    transition: 0.3s;
    box-shadow: 0px 0px 20px rgba(0,0,0,.8);
}

.contentContainer:hover {
    border-color: #FFF;
}


.buttons {
    width: 500px;
    height: 200px;
    display: flex;
    margin: 0 auto;
}

#greetings{
    text-align: center;
    font-size: 50px;
    color: #FFFFFF;
    width: 1000px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

#sign-out{
    width: 250px;
    height: 100px;
    position: relative;
    right: 10%;
}


#sign-in{
    width: 250px;
    height: 100px;
    position: relative;
    left: 10%;

}


.but {
    text-align: center;
    border: 2px solid #000;
    line-height: 20px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    background: transparent;
    transition: box-shadow 0.3s, transform 0.3s;
    cursor: pointer;
}

.images{
    width: 120px;
    height: 60px;
    display: flex;
    position: relative;
    left: 83%;
    top: 27%;
}

#github, #vk{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border: black solid;
    border-radius: 30px;
    transition: transform 0.5s;
}

#github:hover, #vk:hover{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.but:hover,
.but:active,
.but:focus {
    border: 2px solid #FFF;
    transform: translateY(-4px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
    color: #FFF;
}